.credentials{
  border: $border--medium $color--strokes;
  display: flex;
  flex-wrap: wrap;
  background-color: $background--extra-light;
  width: 100%;
  border-radius: $border--radius;
  text-decoration: none;
  color: $text--primary;

  .credentials__container{
    display: flex;
    width: 100%;
  }

  .credentials__picture{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: $space--medium;
    max-width: 64px;
    max-height: 64px;
    border-radius: 100%;
    background-color: darken($background--light, 10%);
    overflow: hidden;

    img{
      width: 100%;
      height: 100%;
    }
  }

  .credentials__id{
    display: flex;
    flex-wrap: wrap;
    max-width: 70%;
    margin: $space--medium;
  }

  .credentials__item{
    width: 100%;
  }
}

.credentials--no-border{
  border: none;
}

.credentials__footer{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: $space--medium;
  background-color: $background--medium;
  width: 100%;
}
